@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rock+Salt&family=Work+Sans&display=swap');

#content { 
    max-width: 1500px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #FFB703;
    text-decoration: none;
    padding: 35px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -80px;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-img {
    width: 111%
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4 {
    text-align: center;
    color: #023047;
    margin-left: 150px;
    font-size: 1.5em;
    font-weight: bold;
}
#hero-msg h5 {
    text-align: center;
    color: #023047;
    padding-left: 150px;
}

#background {
    height: 725px;
    background-color: #396E94;
    width: 110%;
    grid-column: 1/11;
    grid-row: 4/9;
    
}

body {
    background-color: #219EBC;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #023047;
    width: 112%;
    display: grid;
    grid-template-columns: 150px auto;
}

#home-para {
    text-align: justify;
    margin: 50px;
}

.home-grid {
    display: grid;

}

nav a:hover {
    background-color: #FFB703;
    color: #023047;
}

footer {
    background-color: #023047;
    color: #FFB703;
    padding: 25px 75px;
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
    color:  #023047;
    margin-top: 10px;
}
footer a {
    color: #FFB703;
    text-decoration: none;
}
footer a:hover {
    color: #FB8500;
}

#logo {
    margin-left: 50px;
}

.logo {
    width: 80px;

}

footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer.social img {
    padding-top: 15px;
}



/*----------------------------SERVICES--------------------------------------------------------*/
.services-grid {
    width: 100%;
    margin-left: 100px;

}

.service-title {
   text-align: center;
}

.services-para1 {
    text-align: justify;
    
}

#ordered-list {
    text-align: start;
    margin-left: 550px;
}

.services-para2 {
    text-align: justify;
    
}

.services-para3 {
    
    text-align: justify;
    
}

.grid-display {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
}

.card-img1 {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 25px;
    border: 10px solid #023047;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #023047;
}

.text {
    color: #023047;
    margin-top: 20px;
    border: 2px solid;
    border-color: #023047;

}

.services-para4 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.services-para4 {
    text-align: justify;
    margin-left: 50px;
}


/*--------------------------------ABOUT US-------------------------------------------------*/


main section {
    text-align: center;
}

#services-para {
    text-align: justify;
    margin-left: 100px;
}

.aboutus-title {
    font-family: '', 'Bradle Hand', sans-serif;
    font-size: 1em;
    color:  #023047; 
    margin-top: 10px;
}


@media screen and (max-width: 800px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #000;
    }
    
    #background {
        display: none;
    }
    
    footer {
        margin-top: 25px;
    }
}
        


