@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Work+Sans&display=swap');

#content { 
    max-width: 1700px;
    
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #FFB703;
    text-decoration: none;
    padding: 35px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -80px;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-img {
    width: 100%
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4 {
    text-align: center;
    color:  #219EBC;
    margin-left: 150px;
    font-size: 1.5em;
    font-weight: bold;
}
#hero-msg h5 {
    text-align: center;
    color: #023047;
    padding-left: 150px;
}


body {
    background-color: #219EBC;
    font-family:  'Roboto', sans-serif;
    font-size: 22px;
    margin: 0 auto;
    padding: 0;
}


header {
    background-color: #023047;
    width: 100%;
    display: grid;
    grid-template-columns: 150px auto;
}

#home-para {
    text-align: justify;
    margin: 25px;
}

.home-grid {
    display: grid;

}

nav a:hover {
    background-color: #FFB703;
    color: #023047;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #023047;
    color: #FFB703;
    padding: 25px 100px 25px 100px;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title {
    font-family: 'Lato Regular 400', 'Bradle Hand', sans-serif;
    font-size: 2em;
    color:  #023047;
    margin-top: 10px;
}
footer a {
    color: #FFB703;
    text-decoration: none;
}
footer a:hover {
    color: #FB8500;
}

#logo {
    margin-left: 50px;
}

.logo {
    width: 80px;

}

footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer.social img {
    padding-top: 15px;
}


/*----------------------------SERVICES--------------------------------------------------------*/
.services-grid {
    width: 100%;
    
}

.service-title {
   text-align: center;
}

.services-para1 {
    text-align: justify;
    margin-right: 50px;
    margin-left: 50px;
    
}

#ordered-list {
    text-align: start;
    margin-left: 350px;
}

.services-para2 {
    text-align: justify;
    margin-right: 50px;
    margin-left: 50px;
    
}

.services-para3 {
    text-align: justify;
    margin-right: 50px;
    margin-left: 50px;
    
}

.servicegrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-rows: 1fr;

}


*{box-sizing: border-box}

.slideshow-container {
    grid-column: 1/2;
    grid-row: 1/3;
    border: 10px solid #023047;
    transition: transform .9s;
    box-shadow: 5px 5px 10px #023047;
    max-width: 655px;
    max-height: 650px;
    position: relative;
    margin-right: 50px;
    margin-left: 50px;
    
}

.card-img1, .card-img2 {
    height: 630px;
    width: 635px;
}

.prev {
    position: absolute;
    left: 0;
}

.next {
    position: absolute;
    right: 0;

}


/* Hide the images by default */
.mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 0px;
    color: #FB8500;
    font-weight: bold;
    font-size: 18px;
    transition: 0.9s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;

  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #FB8500;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #FB8500;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #FB8500;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .text-align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
}
  
  .active, .dot:hover {
    background-color: #023047;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.card-img1 .card-img2{
    grid-column: 1/2;
    grid-row: 1/2;
    
    border: 10px solid #FB8500;
   
    box-shadow: 5px 5px 10px #FB8500;
}

.text {
    color: #FB8500;
    margin-bottom: -10px;
    border: 2px solid;
    border-color: #023047;
    background-color: #023047;

}

.services-para4 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: justify;
    margin-right: 50px;
    
}



/*--------------------------------ABOUT US-------------------------------------------------*/


main section {
    text-align: center;
}

#services1-para {
    text-align: justify;
    margin: 20px;
}

#services2-para {
    text-align: justify;
    margin: 20px;
}
#services3-para {
    text-align: justify;
    margin: 20px;
}
#services4-para {
    text-align: justify;
    margin: 20px;
}
.aboutus-title {
    font-family: '', 'Bradle Hand', sans-serif;
    font-size: 1em;
    color:  #023047; 
    margin-top: 10px;
}


@media screen and (max-width: 800px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #000;
    }
    
    #background {
        display: none;
    }
    
    footer {
        margin-top: 25px;
    }
}
        


